.desativado{
    color:red;
}


/**Cor quando passar por cima**/
#minhaTabela tr:hover td {
    background-color: #feffb7;
}

/**Cor quando selecionado**/
#minhaTabela tr.selecionado td {
    background-color: #aff7ff;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 18px;
}

ul.pagination li span.active {
    background-color: #eee;
    color: black;
    border: 1px solid #ddd;
}

ul.pagination li span:hover:not(.active) {background-color: #ddd;}

ul.pagination li a {
    background-color: #eee;
    color: black;
    border: 1px solid #ddd;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 18px;
}
